@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

#storybook-docs .sbdocs-h2:first-of-type {
  margin-bottom: 40px;
}

#storybook-docs .docs-story {
  overflow: visible;
}
#storybook-docs .sbdocs-preview {
  overflow: visible;
}

#storybook-docs .docs-story > div:first-child {
  overflow: visible !important;
  margin: unset;
}

#storybook-docs .docs-story > div:first-child > div:first-child {
  transform: none;
  height: auto;
}

.rn-sidebar--storybook {
  position: unset !important;
  max-height: 30rem;
}
